// forms

form,
fieldset {
  margin: 0;
  padding: 0;
  border-style: none;
}

input[type='text'],
input[type='tel'],
input[type='email'],
input[type='search'],
input[type='password'],
input[type='number'],
//input[type='url'],
// input[type='date'],
textarea {
  -webkit-appearance: none;
  -webkit-border-radius: 0;
  box-sizing: border-box;
  -webkit-box-shadow: 0;
  width: 100%;
  height: auto;
  padding: 16px 27px;
  border-radius: 0;
  background: none;
  font-size: $input-font-size;
  text-transform: uppercase;
  outline: none;
  box-shadow: none;
  color: $yellow;
  border: solid 2px ;
  line-height: 28px;
  letter-spacing:2px;
  @include placeholder {
    color: $yellow;
    opacity: 1;
  }
}

textarea {
  resize: vertical;
  vertical-align: top;
}

legend {
  display: block;
  text-transform: uppercase;
  color: $yellow;
  font-size: ceil(($base-font-size * 0.85));
  margin: 0 auto 10px;
}

label{
  color: $gray-light;
  text-transform: uppercase;
  display: inline-block;
  vertical-align: top;
  font: normal 14px/20px 'proxima_nova_bold', Arial, Helvetica, sans-serif;
  letter-spacing: 1px;
}

button,
input[type='button'],
input[type='reset'],
input[type='file'],
input[type='submit'] {
  -webkit-appearance: none;
  -webkit-border-radius: 0;
  cursor: pointer;
  border: solid 2px $yellow;
  box-shadow: none;
  background: $btn-background;
  outline: none;
  color: $btn-color;
  padding: $btn-padding;
  text-transform: uppercase;
  letter-spacing:1px;
  text-align: center;
  font:  #{$btn-font-size}/#{26px}  Helvetica, Arial, sans-serif;
  @include transition(background .2s linear);
  &:hover,
  &:focus{
    background: $white;
    color: $yellow;
  }
}

.form-group{
  @include clearfix;
}

.subscription-form,
.sign-form{
  width: 500px;
  margin: 0 auto;
  .form-control{
    float: left;
    width: calc(100% - 174px);
    border-right: 0;
  }
  .btn-send{
    float: right;
    width: 174px;
  }
}

.contact-form{

  .form-group{
    margin:0 0 20px;
  }

  .form-control{
    border: none;
    background: rgba(255, 255, 255, 0.25);
    padding: 10px;
    //color: $gray-light;

  }

  .btn-send{
    background: none;
    color: $yellow;
    padding: 7px 10px;
    font-size: 16px;
    min-width: 120px;
    &:hover,
    &:focus{
      background: $yellow;
      color: $white;
    }
  }
}







