$breakpoints: (
  'xs-phone': 320px,
  'phone': 480px,
  'tablet': 768px,
  'desktop': 1024px,
  'widescreen': 1200px
);


// keywords
$media-expressions: (
  'screen': 'screen',
  'print': 'print',
  'handheld': 'handheld',
  'landscape': '(orientation: landscape)',
  'portrait': '(orientation: portrait)',
  'retina2x': '(-webkit-min-device-pixel-ratio: 1.5), (min-resolution: 144dpi)',
  'retina3x': '(-webkit-min-device-pixel-ratio: 2.5), (min-resolution: 240dpi)'
);

// import


@import 'vendors/include-media';

@import 'base/variables';
@import 'base/mixins';
@import 'base/helpers';
@import 'base/reset';
@import 'base/grid';
@import 'base/responsive-utilities';
@import 'base/utilities';
@import 'base/forms';
@import 'base/fonts';

.container{
  @include media('>tablet') {
    width: 990px !important;
  }

}

#wrapper {
  position: relative;
  overflow: hidden;
  width: 100%;
}

#header{
  overflow: hidden;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 5;
  padding-top: 30px;
  padding-bottom: 20px;
}

.logo{
  float: left;
  width: 207px;
  height: 23px;
  margin: 50px 10px 20px 75px;

  a{
    display: block;
  }
  img{
    display: block;
    width: 100%;
    height: auto;
  }
}

.add-menu{
  @extend %listreset;
  float: right;
  color: $gray-light;
  text-transform: uppercase;
  letter-spacing: 1px;
  font:14px/16px 'proxima_nova_semibold', Arial, "Helvetica Neue", Helvetica, sans-serif;

  li{
    float: left;
    padding: 0 14px;
    + li{
      border-left: solid 2px;
    }
  }
  a{color: $gray-light;}
  .open{
    display: block;

  }
}
#main-nav{
  position: fixed;
  z-index: 3;
  top: 0;
  left:0;
  bottom: 0;
  width:200px;

  &:before{
    content: '';
    position: absolute;
    top: 0;
    bottom: 0;
    left: 50px;
    width: 3px;
    background: rgba(143, 148, 151, 0.25);
  }
  ul{
    @extend %listreset;
    padding:30vh 0 20px 80px;
    font-size: ceil(($base-font-size * 0.85));
    font-family: 'proxima_nova_semibold',  Arial, "Helvetica Neue", Helvetica, sans-serif;
    max-height: 100%;
    overflow-y: auto;
    li{
      text-transform: uppercase;
      border-top: solid 2px transparent;
      border-bottom: solid 2px transparent;
      margin-bottom: -2px;
      position: relative;
      &:before{
        content: '';
        position: absolute;
        z-index: 2;
        top: 0;
        left: -32px;
        width:7px;
        height: 100%;
        background-image: linear-gradient(224deg, #a58f6b, #c49b5c 18%, #e2cd85 31%, #e9e8a4 43%, #a58f6b 56%, #b39f5c 70%, #e3cc7b 84%, #e0dfae);
        opacity: 0;
        transition: opacity .2s linear;
      }
      a{
        display: block;
        padding: 10px 0;
        &:not(:hover){
            color: $gray-light;
        }
        &:hover{
          text-decoration: none;
        }
      }
      &.active{
        border-color: rgba(143, 148, 151, 0.25);
        &:before{
          opacity: 1;
        }
        a{
          color: $yellow;
        }
      }

    }
  }
}

.intro-section{
  padding: 80px 0;
  position: relative;
}

.top-img{
  position: absolute;
  z-index: -1;
  top:0;
  left: 0;
  right: 0;
  bottom: 0;
  background: url("../images/vector_medium.png") no-repeat 50% 50%;
  background-size: 627px 627px;
  -webkit-filter: blur(1px);
  filter: blur(1px);
  opacity:0.3;
  @include media('<widescreen'){
    background-position-x: 68%;
  }

  &:after{
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: url("../images/vector_large.png") no-repeat 50% 50%;
    -webkit-filter: blur(3px);
    filter: blur(3px);
    @include media('<widescreen'){
      background-position-x: 90%;
    }
  }

}

#company{
  background-image: url(../images/bg_gold.png) ;
  background-position: 100% 0;

  background-size: cover;
}
.img-right-center,
.img-top-right{
  background: url(../images/vector_medium_2.png) no-repeat 50% 100%;
  position: absolute;
  top: 0;
  right: 0;
  width: 30%;
  height: 100%;
  -webkit-filter: blur(0.1px);
  filter: blur(0.1px);
  opacity: 0.4;
}

.img-right-center{
  background-position: 0 50%;

}

.img-top-right{
  left: 50%;
  width: 853px;
  height: 391px;
  background: url(../images/vector_medium_2.png) no-repeat 0 100%;

}


#token_sale {
  text-align: center;
  font-size: floor(($base-font-size * 1.15));
}

#token_details{
  //background: $gray url(../images/token_details.png) no-repeat 100% 0;
}

#advisors{
  text-align: center;
  background-image: url(../images/bg_gold.png);
  background-repeat: no-repeat;
  background-size: cover;
}

#contact{
 background-image: url(../images/bg_gold_2.png);
  background-repeat: no-repeat;
  background-position: 50% 100%;
  background-size: cover;
}


.top-section,
.dark-theme{
 background: $red;
  color: $white;
  a{
    color: $yellow;
  }
  h1, h2, h3, h4, h5, h6{
    color: $gray-2;
  }
}


.top-section {
  font-size: floor(($base-font-size * 1.15));
  text-align: center;
  color: $yellow;
  //min-height: 100vh;
  padding: 100px 0 30px;
  position: relative;
  z-index: 1;
  &:before,
  &:after {
    content: '';
    position: absolute;
    left: 50%;
    bottom: 0;
    transform: translate(-50%, 50%);
    width: 3px;
    height: 55px;
    background: #d4b965;

    @include media('<widescreen') {
      //transform: translate(-57%, 50%);
      left: 58%;
    }
  }
  &:before {
    bottom: auto;
    top: 0;
    transform: translate(-50%, -50%);
  }

  .main-img{
    margin: 0 auto;
    width:50%;
    max-width: 290px;
    position: relative;
    z-index: 1;
    .img-small{
      width: 100%;
    }
    .img-fill{
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
    }
  }
  .top-img{
    top: -40%;
  }
  h1 {
   font-size: 32px;
    font-weight: 500;
    letter-spacing: 2.7px;
    color: #d4b965;
  }
  .more{
    padding: 20px;

    a{
      color: $white;
      display: inline-block;
      vertical-align: top;
      letter-spacing: 1px;
      font:14px/16px  'proxima_nova_semibold', Arial, Helvetica, sans-serif;
      padding-bottom: 15px;
      position: relative;
      .icon{
        position: absolute;
        bottom: 0;
        left: 50%;
        width: 15px;
        height: 10px;
        transform: translateX(-50%);
        transition: bottom .2s linear;
      }

      &:hover{
        .icon{
          bottom: -5px;
        }
      }
    }
  }
}

.documents-list{
  @extend %listreset;
  li{
    padding-left: 30px;
    background: url(../images/Download_Icon.png) no-repeat;
    line-height: 22px;
    margin: 0 0 25px;
  }
  a{
    display: inline-block;
    vertical-align: top;
  }
  &.three-columns{
    li{
      display: inline-block;
      vertical-align: top;
      width: 33.3%;
      margin-right: -4px;
      }
  }
}

.company-services{
  @extend %listreset;
  border-top: 1px solid rgba(255, 255, 255, 0.25);
  border-bottom: 1px solid rgba(255, 255, 255, 0.25);
  padding: 20px 0;
  margin: 0 0 30px;
  li{
    padding: 20px 0;
    overflow: hidden;
    .icon{
      float: left;
      clear: left;
      width: 60px;
      margin-right: 50px;
    }
    .text-area{
      overflow: hidden;
    }
  }
}
.links-area{
  font-size: 14px;
  color: #d8d8d8;
  p{
    margin: 0;
  }
  a{
    text-decoration: underline;
    &:hover{
      text-decoration: none;
    }
  }
}
.tokens-list{
  @extend %listreset;

  li{
    display: inline-block;
    vertical-align: top;
    width: 50%;
    margin-right: -4px;
    margin-bottom: 20px;
  }
  h3{
    color: $gray;
  }
}

.map-wrapper{
  position: relative;
  .map-holder{
    position: relative;
    .map{
      display: block;
      max-width: 100%;
      height: auto;
      z-index: -1;
    }
    .markers-area{
      position: absolute;
      top: 0;
      left: 0;
      right: 0;
      bottom: 0;
    }
    .marker{
      position: absolute;
      z-index: 2;
      top: 34%;
      right: 19%;
      width: 26px;
      height: 32px;
      background: url(../images/Marker.svg) no-repeat;

      &.marker-panama{
        right: auto;
        left: 13%;
        top: 43%;
      }
      &.marker-zurich{
        right: 50%;
        top: 15%;
      }
    }
  }
  
  .map-titles{
    @extend %listreset;
    margin: 0 -15px;
    position: absolute;
    bottom: 0;
    z-index: 2;
    width: 100%;
    color: $yellow;
  }
  h3{
    color: $yellow;

  }
}

table{
  border-collapse: collapse;
  width: 100%;
  font-size: ceil(($base-font-size * 0.85));
  color: $gray-light;
  margin: 0 0 40px;
  tr{
    border-top: 1px solid rgba(255, 255, 255, 0.25);
    vertical-align: top;
  }
  th, td{
    font-size: ceil(($base-font-size * 0.85)); // 14
    text-align: left;
    padding: 14px 0;
  }
  th{
    color: rgba(255, 255, 255, 0.5);
    width: 35%;
    text-transform: uppercase;
  }
  address{
    font-style: normal;
  }
}

.date-holder{
  width: 390px;
  margin: 0 auto;
  padding: 50px 0;

  .timer{
    border-top: solid 1px #d4b965;
    border-bottom: solid 1px #d4b965;
    padding: 20px 0;
    margin: 0 0 20px;
  }
  time{
    display: block;
    text-transform: uppercase;
    letter-spacing:1px;
    &.date-start{
      font-size: floor(($base-font-size * 1.4));
    }
    &.date-end{
      font-size: ceil(($base-font-size * 0.85));
    }
  }
}

.news-list{
  list-style: none;
  margin: 0 -15px;
  padding: 50px 0;
  border-top: solid 1px #d8d8d8;
  border-bottom: solid 1px #d8d8d8;


  li{
    position: relative;
    padding-bottom: 40px;
  }
  h2{
    text-transform: none;
    font: 40px/1.5 "Times New Roman", Times, Baskerville, Georgia, serif;
    letter-spacing: 2px;
    font-weight: bold;
    a{
      color: #8f9497;
    }
  }

  h3{
    text-transform: none;
    color: $gray;
  }

  .btn-area{
    position: absolute;
    width: 100%;
    bottom: 0;
  }
  .more{
    display: inline-block;
    vertical-align: top;
    text-align: center;
    text-transform: uppercase;
    color: $white;
    background: $yellow;
    border: 2px solid $yellow;
    letter-spacing: 2px;
    padding: 8px 10px;
    min-width: 153px;
    transition: all .2s linear;
    &:hover{
      color: $yellow;
      background: none;
    }
  }

}

#our_team{
  text-align: center;
}
.team{
  @extend %listreset;
  li{
    display: inline-block;
    vertical-align: top;
    width: 260px;
    margin:0 -4px 40px 0;
    padding:0 15px;
  }
  .img-area{
    width: 100%;
    padding-top: 100%;
    position: relative;
    filter: grayscale(100%);
    transition: opacity .2s linear;
    margin-bottom: -15px;

    &:after{
      content: '';
      position: absolute;
      z-index: -1;
      top: 0;
      left: 0;
      right: 0;
      bottom: 0;
      opacity:0.6;
      background: url(../images/vector_medium.png) no-repeat 50% 50%;
      background-size: 100% 100%;

    }

    &:hover{
      filter: grayscale(0%);

      .overlay{
        opacity: 1;
      }

    }
  }
  .img-holder{
    position: relative;
    filter: grayscale(100%);
    transition: opacity .2s linear;
    width: 100%;
    padding-top: 85%;

    &:hover{
      filter: grayscale(0%);
    }
  }
  .overlay{
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: rgba(54, 0, 18, 0.8);
    opacity: 0;

    .icon{
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
    }
  }
  .img-circle{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 160px;
    height: 160px;
    border-radius: 50%;
    border: 2px solid $white;
    background: $white;
    overflow: hidden;
    a{
      display: block;
      position: relative;
      margin: -2px;
      .portait{
        display: block;
        width: 100%;
        height: auto;
        z-index: -1;
      }
    }
    &:hover{
      .overlay{
        opacity: 1;
      }

    }
  }


  h3{
    font: #{$base-font-size}/#{$base-line-height} 'proxima_nova_extrabold', Arial, Helvetica, sans-serif;
  }

  h4{
    font-size: ceil(($base-font-size * 0.85));
    //line-height: 20px;
    letter-spacing: 2px;
  }

}

@keyframes fadein {
  from { opacity: 0; }
  to   { opacity: 1; }
}

.partners-list{
  @extend %listreset;

  li{
    display: inline-block;
    vertical-align: top;
    text-transform: uppercase;
    font-size: floor(($base-font-size * 1.3));
    letter-spacing: 2px;
    margin-right: -4px;
    padding: 15px;
    a{
      display: block;
      border: solid 1px ;
      padding: 20px 30px;
      &:not(:hover){
        color: $gray-light;

      }
    }
  }
}

.community-list{
  @extend %listreset;

  li{
    margin-bottom: 20px;
    font-size: floor(($base-font-size * 1.15));
    line-height: 25px;
    vertical-align: middle;

    *{
      display: inline-block;
      vertical-align: middle;
    }
    .icon{
      margin-right: 13px;
      margin-bottom: 5px;
    }
    a:hover{
      opacity: 0.6;
    }
  }
}

.gallery{
  padding: 20px 50px;
  overflow: hidden;
  .slick-slide{
    text-align: center;
    a{
      display: block;

    }
    img{
      display: inline-block;
      vertical-align: top;
    }

  }
  .slick-arrow{
    position: absolute;
    top: 50%;
    left: 0;
    border: 0;
    padding: 0;
    margin: 0;
    outline: none;
    transform: translateY(-50%);
    width: 16px;
    height: 28px;
    text-indent: -9999px;
    overflow: hidden;
    background: url(../images/Stroke_1.svg) no-repeat;
    &.slick-next{
      background: url(../images/Stroke_2.svg) no-repeat;
      left: auto;
      right: 0;
    }
  }
}

#footer{
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  height: auto;
  padding:15px;
  padding-left:85px;
  border-top: solid 2px rgba(143, 148, 151, 0.25);
  overflow: hidden;
  color: #8e9599;
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 2px;
  a{
    color: #8e9599;
  }
  .copy{
    float: left;
    margin: 0;
  }
  .design_by{
    float: right;
    margin: 0;
  }
}



